.collection__card {
    margin:1rem;
}

.collectionList__grid {
    @media only screen and (min-width:550px) {
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:1rem;
    }
    @media only screen and (min-width:850px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.collection__image {
    object-fit: cover;
    height:250px;
    width:100%;
    border:0.5rem solid white;

}