.collection__card {
    margin:1rem;
}

.collectionList__grid {
    @media only screen and (min-width:600px) {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap:1rem;
    }
}

.collection__image {
    object-fit: cover;
    height:100%;
    width:100%;
}