.postsList__grid {
    margin-top:2rem;
    @media only screen and (min-width:600px) {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap:1rem;
        margin:1rem;
    }
}

.postsList__main {
    max-width:1000px;
    margin:auto;
    margin-top:2rem;
    position: relative;

    h1 {
        margin-left: 0.5rem;
    }

}

.postsList__add {
    position: absolute;
    top:0;
    right:0;
    margin-right: 0.5rem;

    p {
        display: none;
        @media only screen and (min-width:600px) {
        display: inline;
        }
    }
}

.postsList__more {
    margin:auto;
    width: max-content;
}

.post__image {
    object-fit: cover;
    height:250px;
    width:100%;
    border:0.5rem solid white;
}

img {
    opacity:1;
    object-fit: cover;
    height:100%;
    width:100%;

}

.postDetail__card {
    max-width: 1000px;
    margin: auto;
    margin-top:2rem;
    margin-bottom:2rem;
}

.postDetail__main {
    max-width: 1000px;
    margin: auto;
    margin-top:.5rem;
    padding-top: 1rem;
}

.postDetail__image {
    max-height:90vh;
    object-fit: contain!important;
}

.postDetail__arrows {
    position: absolute;
    width:100%;
    top:50%;
}

.postDetail__arrows__left {
    position: absolute;
    left:0;
}

.postDetail__arrows__right {
    position: absolute;

    right:0;
}

.addPost__main {

    input {
        padding-bottom:2rem;
    }

    form {
        margin: 0 auto;
        max-width: 320px;
    }

    h2 {
        text-align: left;
    }
}