.login__background {
    background-color: #1D404F;
    height:90vh;

    img {
        opacity: 0.7;
    }
}

.auth__spaceAbove {
    margin-bottom: 1rem;
}

main {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index:2;

    @media only screen and (max-width:600px) {
        width:100%;
        margin-top: 2rem;
    }

    form {
        margin: 0 auto;
        max-width: 320px;
    }
}

.login__noaccount {
    border-top:1px solid #4fa1c4;
}